h1, p{
    text-align: center;
}
li:hover{
    background-color: yellowgreen;
    width: fit-content;
    transition: 1s;
}
li:active{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ol, ul{
    list-style: none;
}